<a href="https://colab.research.google.com/github/nhutd107/AI_CDT_20146509_-D.Nhu-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value2 =input ('nhap so thu 2')
value1 =input ('nhap so thu 1')
value1 + value2

In [8]:
#write to file
with open('text.txt',mode='w')as accounts:
  accounts.write('20146509 Truong Dinh Nhu  10/n ')
  accounts.write('123456 so trung giai dac biet 6/n')
  accounts.write('98765 so trung giai nhat  8/n')

In [9]:
with open('text.txt',mode='w')as accounts:
  print('20146 Truong dinh nhu.',file = accounts)

In [ ]:
with open('text.txt',mode='r')as accounts:
  print(f"{'MSSV':<10}{'Name':<20}{'score':>2}")
  for record in accounts:
    mssv,name,score = record.split()
    print(f"{mssv:<10}{name:<20}{score:>2}")

In [ ]:
import pandas as pd
url = 'TEST1.csv'
dataframe = pd.read_csv(url)  # biens dataframe 
dataframe.head(21)

In [ ]:
dataframe.iloc[2]

In [ ]:
dataframe.iloc[0:10]

In [ ]:
dataframe.iloc[:10]

In [ ]:
# loc du lieu
dataframe = dataframe.set_index(dataframe['khoa'])
dataframe.loc['CKM']

In [ ]:
dataframe[dataframe['khoa'] =='CLC'].head(10)  #loc du lieeuj

In [ ]:
#loc nhieu truong
dataframe[(dataframe['khoa']==['CLC'])&(dataframe['Lop']==['20C'])]

In [ ]:
dataframe['khoa'].replace('CKM','co khi may').head(10)     
#thay the data

In [ ]:
dataframe.replace('CLC','chat luong cao').head(10)

In [47]:
print ('Diem cao nhat: ',dataframe['Diem'].max())

Diem cao nhat:  8.0

In [ ]:
#mean: trung binh
#dem tu co bao nhieu du lieu giong nhau
dataframe['khoa'].unique()
dataframe['khoa'].value_counts()

In [ ]:
#xoa hang , axis bat buoc =1
dataframe.drop('No',axis = 1).head(10)

In [ ]:
#xoa 2 hang
dataframe.drop(['No','khoa'],axis = 1).head(7)

In [ ]:
dataframe.drop(dataframe.columns[2:4],axis =1).head(5) #xoa cot

In [ ]:
dataframe[dataframe['khoa']!='CKM'].head(10) # trong khoa xoa CKM

In [ ]:
dataframe[dataframe['Diem']!=8.0].head(10)   #xoa du lieu chi dinh

In [ ]:
dataframe.groupby['CLC'].count()

In [ ]:
dataframe.groupby['khoa']['Diem'].count()

In [ ]:
#lay mau 1 tuan 1 lan.tgian lay mau laf 30s
import pandas as pd
import numpy as np
time_index = pd.date_range('13/02/2023',periods  = 1000000,freq='30s')
dataframe =pd.DataFrame(index = time_index)
dataframe['Acess_Amount']= np.random.randint (1,10,1000000)
dataframe.resample('W').sum()

In [ ]:
dataframe.resample('2W').mean() # theo 2 tuan
dataframe.resample('M').mean()  #theo 1 thang

In [83]:
import pandas as pd 
url = 'http://Winterolympicsmedals.com/medals.csv '
data = pd.read_csv(url)
data
#tim so luong huy chuong cua 1 nuoc
#tim so huy chuong vang theo mon thi ca nhan

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [92]:
data[data['Medal'] =='Gold'].count()

Year            774
City            774
Sport           774
Discipline      774
NOC             774
Event           774
Event gender    774
Medal           774
dtype: int64

In [ ]:
data[data['Medal'] =='Gold']
data[data['NOC']=='USA'].value_counts()

# data[data['NOC']=='USA']

#data[data['Medal'] =='Gold' & data['NOC'] == "USA"]

In [ ]:
dataframe.groupby('NOC')['Medal'].count()

In [120]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data.groupby('NOC')['Medal'].count()

NOC
AUS      6
AUT    185
BEL      5
BLR      6
BUL      6
CAN    119
CHN     33
CRO      7
CZE     10
DEN      1
ESP      2
EST      6
EUA     19
EUN     23
FIN    151
FRA     83
FRG     41
GBR     21
GDR    110
GER    158
HUN      6
ITA    101
JPN     32
KAZ      5
KOR     31
LAT      1
LIE      9
LUX      2
NED     78
NOR    280
NZL      1
POL      8
PRK      2
ROU      1
RUS     76
SLO      4
SUI    118
SVK      1
SWE    118
TCH     25
UKR      5
URS    194
USA    216
UZB      1
YUG      4
Name: Medal, dtype: int64